global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  # Сам Prometheus
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "lockalhost node exporter"
    static_configs:
      - targets: ["192.168.89.115:9100"]
 
  - job_name: "windows server"
    static_configs:
      - targets: ["192.168.89.118:9182"]